{% extends 'parent.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-sm-3">
			<img src="{{ asset('img/product/' ~ result.image) }}" class="img-fluid" alt="">
		</div>
		<div class="col-sm-9">
			<h3>{{ result.name }}</h3>
			<p>{{ result.description }}</p>
			<p class="h4">{{ result.price | number_format(2, ',', ' ') }}€</p>

			<h4 class="mt-5">Commentaire</h4>
			{{ form_start(form) }}
				<p>
					{{ form_label(form.author, 'Auteur: ') }}
					{{ form_widget(form.author) }}
				</p>
				<p>
					{{ form_label(form.message, 'Message: ') }}
					{{ form_widget(form.message) }}
				</p>
				<p>
					{{ form_widget(form.productId, { attr : { value: result.id } }) }}
					<input type="submit" value="Valider" class="btn btn-primary">
				</p>
			{{ form_end(form) }}

			<div class="list-comments">
				{% for comment in comments %}
					<div class="border-bottom border-dark">
						<p class="small">{{ comment.author }}</p>
						<p class="font-italic text-black-50">
							Ecrit le {{ comment.date | date('d/m/Y') }}
							à {{ comment.date | date('H:i:s') }}
						</p>
						<p>{{ comment.message }}</p>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}




