{% extends 'parent.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col">
			<h1>Produits</h1>
		</div>
	</div>
	<div class="row">
		{% for result in results %}
			<div class="col-sm-3">
				<img src="{{ asset('img/product/' ~ result.image) }}" class="img-fluid" alt="">
				<h3>{{ result.name }}</h3>
				<p class="h4">{{ result.price | number_format(2, ',', ' ') }}€</p>
				<p>
					<a href="{{ url('product.details', { slug: result.slug }) }}" class="btn btn-primary">Consulter</a>
				</p>
			</div>
		{% endfor %}
	</div>

{% endblock %}




