{% extends 'parent.html.twig' %}

{% block content %}
	<div class="col">
		<h1>Contact</h1>

		{% include 'inc/flash.message.html.twig' %}

		{#
			form: variable envoyée par le contrôleur
			fonction twig de formulaire
				form_label: balise <label>
				form_widget: champ du formulaire
				form_start: balise <form>
				form_end: balise </form>
				form_errors: erreur
		#}
		{#
			attr: ajouter des attributs html à un champ du formulaire
			label_attr: ajouter des attributs html à un intitulé
		#}
		{{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}
			<p>
				{{ form_label(form.firstname, 'Prénom: ') }}
				{{ form_widget(form.firstname, { attr: { placeholder: 'Saisissez votre prénom' } }) }}
			</p>
			<p>
				{{ form_label(form.lastname, 'Nom: ') }}
				{{ form_widget(form.lastname) }}
			</p>
			<p>
				{{ form_label(form.email, 'Email: ') }}
				{{ form_widget(form.email) }}
			</p>
			<p>
				{{ form_label(form.message, 'Message: ') }}
				{{ form_widget(form.message) }}
			</p>
			<p>
				<input type="submit" value="Valider" class="btn btn-primary">
			</p>
		{{ form_end(form) }}
	</div>
{% endblock %}








