{% extends 'admin.base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col">
			<h1>Gestion des produits</h1>

			{% include 'inc/flash.message.html.twig' %}

			<p class="text-right">
				<a href="{{ url('admin.product.form') }}" class="btn btn-primary">Ajouter</a>
			</p>
			<table class="table table-striped">
				<tr>
					<th>Nom</th>
					<th>Description</th>
					<th>Image</th>
					<th>Prix</th>
					<th>Catégories</th>
					<th></th>
				</tr>
				{% for result in results %}
					<tr>
						<td>{{ result.name }}</td>
						<td>{{ result.description | truncate(15, true) }}</td>
						<td>
							<img src="{{ asset('img/product/' ~ result.image) }}" class="w-25" alt="">
						</td>
						<td>{{ result.price | number_format(2, ',', ' ') }}€</td>
						<td>
							{# afficher les catégories #}
							<ul>
								{% for category in result.categories %}
									<li>{{ category.name | capitalize }}</li>
								{% endfor %}
							</ul>
						</td>
						<td>
							<a href="{{ url('admin.product.form.update', { id: result.id } ) }}"
							   class="btn btn-warning">Modifier</a>
							{% if is_granted('ROLE_SUPER_ADMIN') %}
								<a href="{{ url('admin.product.remove', { id: result.id }) }}"
								   class="btn btn-danger">Supprimer</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}










