{# variables globales #}
<h1>{{ site_name }}</h1>

<h2>Bonjour {{ firstname }}</h2>

<ul>
	{% for language in languages %}
		<li><a href="{{ language.code }}">{{ language.lang }}</a></li>
	{% endfor %}
</ul>

{#<ul>
	{% for language in languages %}
		<li><a href="#">{{ language }}</a></li>
	{% endfor %}
</ul>#}

{#
	app : variable globale donnant accès aux données de l'application
	app.request : requête http
	app.user : utilisateur
	app.session : session
#}
{#{ dump(app.session) }#}

{# filtre personnalisé : hide_links #}
{% set text = 'un <a href="#">lien</a> et un autre <a href="#">lien</a>' %}
<p>{{ text | hide_links }}</p>

{#
	{ ## } : commentaire
	{{}} : affichage
	{%%} : instructions (boucle, condition,...)

<h1>
	Bonjour
	{% if firstname is empty %}
		inconnu
	{% else %}
		{{ firstname }}
	{% endif %}
</h1>#}

{# condition ternaire
<h1>Bonjour {{ firstname is not empty ? firstname : 'inconnu' }}</h1>#}

{# dump: débogage
{{ dump(list) }}

<ul>
{% for key, value in list %}
	{#<li>{{ key }} : {{ value }}</li>#}
	{# tilde : concaténation #
	<li>{{ key ~ ' : ' ~ value }}</li>
{% endfor %}
</ul>#}

{#
	set : création d'une variable
	for i

{% set array = [ 'value0', 'value1', 'value2' ] %}
<p>Il y a {{ array | length }} éléments dans array</p>#}

{#<ul>
{% for i in 0..5 %}
	<li>{{ i }}</li>
{% endfor %}
</ul>#}

{# affichage de la date #}
<time>{{ now | date('d/m/Y') }}</time>

{# affichage d'un chiffre #}
<p>{{ price | number_format(2, ',', ' ') }}€</p>


