{# extends: héritage d'un template parent #}
{% extends 'parent.html.twig' %}

{# bloc content créé dans le template parent #}
{% block content %}
	<div class="col">
		<h1>Bonjour</h1>
		{#
			lien entre les routes : se baser sur l'attribut name des @Route
				url: lien absolu
				path: lien relatif
			cibler une route avec des variables
				fournir la valeur des variables en second paramètre
		#}
		<p>
			<a href="{{ url('index') }}">Accueil</a>
		</p>
		<p>
			<a href="{{
				url('hello.index',
				{ 'firstname' : 'tutu'})
			}}">Bonjour tutu</a>
		</p>
		{#
			asset() : afficher une ressource publique(img, css...)
				cible le dossier public
		#}
		<p>
			<img src="{{ asset('img/7889359784_5b84be8666_z.jpg') }}" alt="">
		</p>
	</div>
{% endblock %}

{# bloc title #}
{% block title %}
	{{ parent() }} | Mise en page
{% endblock %}