<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
		<a class="navbar-brand" href="{{ url('homepage.index') }}">{{ site_name }}</a>
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item active">
				<a class="nav-link" href="{{ url('homepage.index') }}">Accueil</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ url('products.index') }}">Produits</a>
			</li>
			{#
				app.user: accès à l'utilisateur dans les vues
				is_granted: test sur un rôle ou sur l'authentification
					IS_AUTHENTICATED_FULLY: utilisateur authentifié
			#}
			{% if is_granted('ROLE_ADMIN') %}
				<li class="nav-item">
					<a class="nav-link" href="{{ url('admin.homepage.index') }}">Administration</a>
				</li>
			{% endif %}

			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<li class="nav-item">
{#					<a class="nav-link" href="{{ url('security.logout') }}">Déconnexion</a>#}
					<a class="nav-link" href="{{ logout_url('main') }}">Déconnexion</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{ url('security.login') }}">Connexion</a>
				</li>
			{% endif %}
		</ul>
		{#<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>#}
	</div>
</nav>











